h2{font-size: 48px; color: black;}
p{font-size: 20px; line-height: 1.5; color: white;}
#navbar {
  background-color: #181818;
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 10vh;
  padding: 0 3vw;
  align-items: center;
  position: fixed;
  z-index: 100;}

  /* Home */  
#main-banner {
  height: 90vh;
  padding: 4vw;
  max-width: 1200px;
  margin-top: 10vh;
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 48px;
  animation: animated-text 1s ease-in;}
#main-banner h1{font-size: 32px inherit; color: white;}  
#main-banner p {font-size: 24px;}
/* Work text*/
.work-scroll {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 48px;}
#icon {margin-right: 1vw;font-size: inherit;}
/* CARDS */  
.cards-list {
  display: flex;
  flex-direction: column;
  max-width: 1000px;}
/* CARD Modulo */  
#card {
  display: flex;
  flex-direction: row;
  color: white;
  margin-bottom: 1vh;}
/* CARD-image */  
.img-card-box{padding-right: 24px;width: 40%;}
#img-card{width: 100%;}
/* CARD-info */  
.card-info{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;}
/* CARD-info-text */  
#card h2{font-size: 48px; color: white;}
#card p{font-size: 20px; line-height: 1.5; color: white;}
button {
  background-color: #DBFF00;
  padding: 16px;
  font-size: 18px;
  font-family: 'Sora', sans-serif;
  font-weight: 500;
cursor: pointer;}  
.hidden{
  opacity: 0;
  transform: translateY(20%);
  transition: all 1s; 
  filter: blur(5px);}
.show{
  opacity: 1;
  filter: blur(0);
  transform: translateY(0);}

/*interno*/
.content-case {
  display:flex;flex-direction: column; align-items: center;}
.info-case {
  background-color: #DBFF00;
  margin: 0 0 -20% -10%;
    padding: 16px;
    max-width: 400px;}
#main-pic {
  min-height: 60vh; 
  margin-top: 10vh; 
  display: flex; 
  align-items: center; 
  justify-content: center; 
  background-color: #A043E9;
  width: 100vw;}
#main-pic img {
    max-width: 40%;}

/* responsivo */    
@media only screen and (max-width: 800px) {
  /*home*/
  .cards-list{margin: 0;}
  #card{display: flex; flex-direction: column; align-content: space-around; margin: 16px;}
  .img-card-box{width: 100%; padding-right: 0;}
  #card h2{font-size: 24px; color: white; margin: 16px 0;}
  #card p{font-size: 16px; color: white; margin-bottom: 24px;}
  #main-banner p {font-size: 24px}
  
  /*interna*/
  #main-pic {display: flex; flex-direction: column; justify-content: flex-start; }
  #main-pic img {max-width: 80%; margin-top: 5vh;}
  .info-case{
    background-color: #DBFF00;
      padding: 16px;
      max-width: 400px;
      margin: -5% 10px 0 10px;
  }}
@media only screen and (min-width: 1500px) {
  #main-banner{max-width: 1600px;}
  #main-banner h1{font-size: 64px; color: white; }  
  #main-banner p {font-size: 40px;}}
/* Animation */ 
@keyframes animated-text {
  0% {
    transform: translateY(-50px); }
  100% {
    transform: translateY(0); }}
/* Gradiente */
.gradient-text {
  /* Fallback: Set a background color. */
  background-color: red;
  
  /* Create the gradient. */
  background-image: linear-gradient(180deg, #FF097F 6.67%, #CC00FF 35.25%, #1FA7F3 71.54%, #26B1FF 91.95%);;
  
  /* Set the background size and repeat properties. */
  background-size: 100%;
  background-repeat: repeat;

  /* Use the text as a mask for the background. */
  /* This will show the gradient as a text color rather than element bg. */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    background-clip: text;}