body {
  background-color:black;}

#navbar {
  color: aliceblue;
  background-color: #181818;
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 10vh;
  padding: 0 3vw;
  align-items: center;
  position: fixed;}

#about {    
  align-items: center;
  display: flex;
  flex-direction: column;
  animation: text-h1 1s;}


/* Main banner home */  
#main-banner {
  height: 90vh;
  padding: 4vw;
  margin-top: 10vh;
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 48px;}
#main-banner h1{font-size: inherit; color: white;}  
#main-banner p {font-size: 32px;}
  
/* Main banner interno */  
#main-pic {min-height: 60vh; margin-top: 10vh; display: flex; align-items: center; justify-content: center;}

/* Work */  
.work-scroll {
  display: flex;
  justify-content: flex-end;
  font-size: 48px;}

.home-portfolio{
  display: flex;
  flex-direction: column;
  align-items: center;}

button {
  background-color: #DBFF00;
  padding: 16px;
  font-size: 24px;
  font-family: 'Sora', sans-serif;}  
  
/* CARDS */  
.cards-list {
  max-width: 1000px;
  animation: text-h1 2s ; animation-delay: 1s;}

/* CARD Modulo */  
.card {
  display: flex;
  flex-wrap: wrap;
  color: white;
  margin-bottom: 1vh;}

/* CARD-image */  
.img-card-box{width: 50%; padding-right: 24px;}

/* CARD-info */  
.content-box{
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;}

/* CARD-info-text */  
.content-box h2{font-size: 48px; color: white;}
.content-box p{font-size: 20px; color: white;}
  
/* ICON my work */
#icon {
  margin-right: 1vw;
font-size: inherit;}

@media only screen and (max-width: 1000px) {
  .card{display: flex; flex-direction: column; align-content: space-around; margin: 16px;} 
  .content-box {width: 100%;}
  .cards-list{margin: 0;}
  .img-card-box{width: 100%; padding-right: 0}
  .content-box h2{font-size: 40px; color: white; margin-bottom: 8px}
  .content-box p{font-size: 24px; color: white; margin-bottom: 24px}}
  
@media only screen and (max-width: 600px) {
  #main-banner p {font-size: 24px;}
  #main-banner h1 {font-size: 40px;}
  #main-banner {padding:4vw;}
  #icon {font-size: 8vw;}}
  
@media only screen and (min-width: 1600px) {#main-banner{max-width: 1600px;}
  #main-banner h1{font-size: 64px; color: white; }  
  #main-banner p {font-size: 40px;}}

/* Animation */  
@keyframes text-h1 {
  0% {
    opacity: 0;
    transform: translateY(-80px);}
  100% {
    opacity: 1;
    transform: translateY(0);}}

 /* Gradiente */
.gradient-text {
  /* Fallback: Set a background color. */
  background-color: red;
  
  /* Create the gradient. */
  background-image: linear-gradient(180deg, #FF097F 6.67%, #CC00FF 35.25%, #1FA7F3 71.54%, #26B1FF 91.95%);;
  
  /* Set the background size and repeat properties. */
  background-size: 100%;
  background-repeat: repeat;

  /* Use the text as a mask for the background. */
  /* This will show the gradient as a text color rather than element bg. */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;}