main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 0 0;
  background-color: #000;
}

/* - SECTION: MAIN BANNER - */
#main-banner {
  padding-top: 15vh;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;

}

.trabalhos {
  position: relative;
  max-width: 800px;
  height: auto;
}

#main-banner .banner-content {
  width: 100vw;
  height: 85vh;
  padding: 5vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 1000px;
  

}

#main-banner .banner-content h1 {
  font-size: 48px;
  margin-bottom: 20px;
}


#main-banner .banner-content p {
  font-size: 24px;
  font-weight: 300;
}

/* - NAV BAR - */

#navbar {
  display: flex;
  justify-content: space-between;
  background-color: #333;
  align-items: center;
  height: 10vh;
  width: 100vw;
  padding: 30px 30px;
  position: fixed;
}

#navbar img {
  width: 150px;
}

#navbar .nav-list {
  display: flex;
  list-style: none;
}

.gradient-text {
  /* Fallback: Set a background color. */
  background-color: red;
  
  /* Create the gradient. */
  background-image: linear-gradient(180deg, #FF097F 6.67%, #CC00FF 35.25%, #1FA7F3 71.54%, #26B1FF 91.95%);;
  
  /* Set the background size and repeat properties. */
  background-size: 100%;
  background-repeat: repeat;

  /* Use the text as a mask for the background. */
  /* This will show the gradient as a text color rather than element bg. */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

